<!DOCTYPE html>
<html lang= "en">
  <head>
    <!-- Meta tags for making website for mobile-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
    <meta charset="UTF-8">

    <title>Widget-Chooser Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/custom_styles.css" rel="stylesheet"/>

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <p class="navbar-text pull-left">
          <a href="widget-list.html" class="glyphiconblack">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
        <p class="navbar-header pull-left">
          <a class="navbar-brand">
            <b>Choose Widget</b>
          </a>
        </p>
      </div>
    </nav>

    <div class="container-fluid">
      <ul><a href="widget-heading.html">Header</a></ul>
      <ul><a>Label</a></ul>
      <ul> <a>HTML</a></ul>
      <ul> <a>Text Input</a></ul>
      <ul> <a>Link</a></ul>
      <ul> <a>Button</a></ul>
      <ul> <a href="widget-image.html">Image</a></ul>
      <ul> <a href="widget-youtube.html">YouTube</a></ul>
      <ul> <a>Data Table</a></ul>
      <ul> <a>Repeater</a></ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <p class="navbar-text pull-right">
            <a href="../user/profile.html">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </p>
        </div>
    </nav>
  </body>
</html>

