<!--<div [ngSwitch]='widget.widgetType'>-->

  <!--<div *ngSwitchCase="'Header'">-->
    <!--<app-widget-header></app-widget-header>-->
  <!--</div>-->

  <!--<div *ngSwitchCase="'Image'">-->
    <!--<app-widget-image></app-widget-image>-->
  <!--</div>-->

  <!--<div *ngSwitchCase="'YouTube'">-->
    <!--<app-widget-youtube></app-widget-youtube>-->
  <!--</div>-->

  <!--<div *ngSwitchCase="'HTML'">-->
    <!--<app-widget-html></app-widget-html>-->
  <!--</div>-->

  <!--<div *ngSwitchCase="'Text'">-->
    <!--<app-widget-text></app-widget-text>-->
  <!--</div>-->
<!--</div>-->
<div [ngSwitch]="widget.widgetType">

  <div *ngSwitchCase='header'>
    <app-widget-header></app-widget-header>
  </div>

  <div *ngSwitchCase='image'>
    <app-widget-image></app-widget-image>
  </div>

  <div *ngSwitchCase='youtube'>
    <app-widget-youtube></app-widget-youtube>
  </div>

  <div *ngSwitchCase='html'>
    <app-widget-html></app-widget-html>
  </div>

  <div *ngSwitchCase='text'>
    <app-widget-text></app-widget-text>
  </div>


</div>
