<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left ">
      <a routerLink="/user/website/{{ websiteId }}/page" class="navbar-link glyphiconblack">
        <span class="glyphicon glyphicon-chevron-left"> </span>
      </a>
    </p>

    <a class="navbar-brand navbar-header pull-left">
      Widgets
    </a>

    <p class="navbar-text pull-right">
      <a routerLink="/user/website/{{ websiteId }}/page/{{ pageId }}/widget/new"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus"> </span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid">
    <div *ngFor="let widget of widgets">
      <div [ngSwitch]="widget.widgetType">
        <div class="qz-widget">
          <div class="qz-widget-tool">
            <div>
            <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            <a [routerLink]="['/user', 'website', websiteId, 'page', pageId, 'widget', widget._id]">
              <span class="glyphicon glyphicon-cog pull-right"> </span>
            </a>
            </div>
          </div>

          <div *ngSwitchCase="'Header'">
            Header Name: {{widget.name}}
            <div [ngSwitch]="widget.size">
              <h1 *ngSwitchCase="1">{{widget.text}}</h1>
              <h2 *ngSwitchCase="2">{{widget.text}}</h2>
              <h3 *ngSwitchCase="3">{{widget.text}}</h3>
              <h4 *ngSwitchCase="4">{{widget.text}}</h4>
              <h5 *ngSwitchCase="5">{{widget.text}}</h5>
              <h6 *ngSwitchCase="6">{{widget.text}}</h6>
            </div>
          </div>

          <div *ngSwitchCase="'YouTube'">
            Video Name: {{widget.name}}
            <div class="youtube-widget">
            <iframe width="560"
                    height="315"
                    [src] = updateVideoUrl(widget.url)
                    frameborder="0"
                    allowfullscreen></iframe>
            </div>
          </div>

          <div *ngSwitchCase="'Image'">
            Image Name: {{widget.name}}
            <img [src] = "widget.url"
                 width= "widget.width"/>
          </div>

          <div *ngSwitchCase="'HTML'"
               [innerHTML]="widget.text"></div>

          <div *ngSwitchCase="'Text'">
            Text Input Name: {{widget.name}}
            <div *ngIf="widget.formatted">
              <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
            </div>

            <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.placeholder}}" class="form-control"/>

            <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-page-pages">
  <div class="container-fluid">
    <div class="navbar-footer">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/profile']" class="navbar-link">
          <span class="glyphicon glyphicon-user glyphiconlightblue"> </span>
        </a>
      </p>

    </div>
  </div>
</nav>
