.navbar-lightblue{
  background-color: #337ab7;
}
.glyphiconwhite {
  color: white;
}
b.whitetitle {
  color: white;
}
li.borderless {
  border: 0 none;
}

li.lightblue {
  color: #337ab7
}
.glyphiconblack {
  color: black;
}
