<nav class="navbar navbar-lightblue navbar-lightblue">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{ uid }}" class="glyphiconwhite">
        <span class="glyphicon glyphicon-chevron-left glyphiconwhite"></span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b class="whitetitle">Websites</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a routerLink="/user/{{ uid }}/website/new" class="glyphiconwhite">
        <span class="glyphicon glyphicon-plus glyphiconwhite"></span>
      </a>
    </p>
  </div>
</nav>



  <ul class="list-group">
    <ul class="container-fluid">
      <div *ngFor = "let website of websites">
        <li class="list-group-item borderless lightblue">
          <a routerLink="/user/{{ uid }}/website/{{ wid }}/page">
            {{ website.name }}
          </a>

          <!--<a (click)="deleteWebsite()" class="pull-right">-->
            <!--<span class="glyphicon glyphicon-remove"></span>-->
          <!--</a>-->

          <a routerLink="/user/{{ uid }}/website/{{ wid }}/edit">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>

        </li>
      </div>
    </ul>
  </ul>





<nav class="navbar navbar-lightblue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{ uid }}" class="glyphiconwhite">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

