<nav class="navbar navbar-lightblue navbar-lightblue">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/profile/{{ uid }}" class="glyphiconwhite">
        <span class="glyphicon glyphicon-chevron-left glyphiconwhite"></span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a routerLink="/profile/{{ uid }}/website/{{ wid }}/page" class="navbar-brand">
        <b class="whitetitle">Websites</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a routerLink="/profile/{{ uid }}/website/new" class="glyphiconwhite">
        <span class="glyphicon glyphicon-plus glyphiconwhite"></span>
      </a>
    </p>
  </div>
</nav>


<div *ngFor = "let website of websites" class="container-fluid padding-top">
  <ul routerLink="/profile/{{ uid }}/website/{{ wid }}/page" class="list-group">
    <li routerLink="/profile/{{ uid }}/website/{{ wid }}/page"
        class="list-group-item borderless lightblue">{{ website.name }}
      <a class="pull-right">
        <span class="glyphicon glyphicon-cog" routerLink="/profile/{{ uid }}/website/{{ wid }}"></span>
      </a>
    </li>
  </ul>
</div>


<nav class="navbar navbar-lightblue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile/{{ uid }}" class="glyphiconwhite">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

