<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/website/{{ websiteId }}/page/{{ pageId }}/widget"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left glyphiconblack"></span>
      </a>
    </p>
    <a class="pull-left navbar-brand">
      <b>Widget edit</b>
    </a>
    <p class="navbar-text pull-right">
      <a  (click) = "updateWidget()"
          class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container-fluid">
    <div *ngIf=flag
         class="alert alert-danger">
      {{error}}
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="name"
             placeholder="Widget name"
             ngModel="{{ widget.name }}"
             #name="ngModel"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <input ngModel="{{ widget.text }}"
             #text="ngModel"
             type="text"
             id="text"
             name="text"
             placeholder="The main text of the widget"
             class="form-control"
             required/>
    </div>
    <div class="form-group">
      <label for="rows">Rows</label>
      <input ngModel="{{ widget.rows }}"
             #rows="ngModel"
             type="number"
             id="rows"
             name="rows"
             placeholder="Number of Rows"
             class="form-control"
             required/>
    </div>
    <div class="form-group">
      <label for="placeholder">Placeholder</label>
      <input ngModel="{{ widget.placeholder }}"
             #placeholder="ngModel"
             type="text"
             id="placeholder"
             name="placeholder"
             placeholder="placeholder"
             class="form-control"
             required/>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input type="text"
               readonly
               value="Formatted"
               class="form-control"/>
        <span class="input-group-addon">
          <input [(ngModel)]="widget.formatted"
                 id="formatted"
                 name="formatted"
                 type="checkbox"/>
        </span>
      </div>
    </div>

    <a (click)="deleteWidget()"
       class="btn btn-danger btn-block">Delete</a>

    <a routerLink="/user/website/{{ websiteId }}/page/{{ pageId }}/widget"
       class="btn btn-warning btn-block">Cancel</a>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/profile">
      <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
  </div>
</nav>
