
<nav class="navbar navbar-default navbar-lightblue">
  <div class="container-fluid">
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="whitetitle">Profile</b>
      </a>
    </p>

    <button form="updateForm"  class="navbar-text pull-right">
      <a type="submit"  class="navbar-link">
        <span class="glyphicon glyphicon-ok glyphiconwhite"></span>
      </a>
    </button>


  </div>
</nav>

<form id="updateForm" (ngSubmit) = "update()" #f="ngForm">
  <div class="container-fluid">

  <label>Username</label><br/>
  <input [(ngModel)]="username"
       placeholder="username"
       class="form-control"
       name="username"
       type="text"
       required/>
  <br/>

  <label>Email</label><br/>
  <input [(ngModel)]="email"
         placeholder="jannunzi@gmail.com"
         class="form-control"
         name="email"
         type="text"
         required/>
  <br/>
  <label>First Name</label><br/>
  <input [(ngModel)]="firstName"
         placeholder="Jose"
         class="form-control"
         name="firstName"
         type="text"/>
  <br/>
  <label>Last Name</label><br/>
  <input [(ngModel)]="lastName"
         placeholder="Annunziato"
         class="form-control"
         name="lastName"
         type="text"/>
  <br/>
  <button routerLink="/profile/{{ uid }}/website" class="btn btn-primary form-control">Website</button>
    <br/>
    <br/>
  <button class="btn btn-danger form-control btn btn-block" routerLink="/login">Logout</button>

  </div>
</form>
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-lightblue">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a routerLink="/profile/{{ uid }}/">
          <span class="glyphicon glyphicon-user glyphiconwhite"></span>
        </a>
      </p>
    </div>
  </nav>
