
<div class="container-fluid">
  <h1>Login</h1>
  <!--<label>Username</label><br/>-->
  <!--<div class="form-group">-->
  <!--<form (ngSubmit) = "login()" #f="ngForm">-->
    <input ngModel
           placeholder="username"
           name="username"
           class="form-control"
           type="text"
           required
           #username = "ngModel"/>
    <br/>
    <!--[(ngModel)]="username"-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label>Password</label><br/>-->
    <input ngModel
           placeholder="password"
           class="form-control"
           type="password"
           required
           #password="ngModel"/>
    <br/>
  <!--</div>-->

  <!--<div class="form-group">-->
    <button class="btn btn-primary btn-block form-control"
            type="submit"
            (click)="login(username,password)">Login</button>
    <br/>
  <!--</div>-->
  <!--<div class="form-group">-->
    <button class="btn btn-success btn-block form-control"
            routerLink="/register">Register</button>
  <!--</div>-->
  <!--</form>-->
</div>
