
<div class="container-fluid">
  <h1>Login</h1>

  <form (ngSubmit) = "login()" #f="ngForm">
    <input ngModel
           placeholder="username"
           name="username"
           class="form-control"
           type="text"
           required
           #username = "ngModel"/>
    <br/>

    <input ngModel
           placeholder="password"
           name="password"
           class="form-control"
           type="password"
           required
           #password="ngModel"/>
    <br/>

    <button (click)="login()"
            class="btn btn-primary btn-block form-control"
            type="submit"
            [disabled]="!f.valid"
            >Login</button>
    <!--(click)="login()"-->
    <br/>

    <button class="btn btn-success btn-block form-control"
            routerLink="/register">Register</button>

  </form>

</div>
<!--<span class="help-block" *ngIf="!username.valid && username.touched">-->
<!--Please enter username!-->
<!--</span>-->

<!--<h1> {{title}} </h1>-->
<!--<button [disabled] ="disabledFlag">Submit</button>-->
<!--<button (click) ="buttonClicked($event)">Submit</button>-->
<!--<input type="text" [(ngModel)] ="inputTxt">-->
<!--{{inputTxt}}-->
