<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/widget"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left glyphiconblack"></span>
      </a>
    </p>
    <a routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/widget/{{ wgid }}"
       class="pull-left navbar-brand">
      <b>Widget edit</b>
    </a>
    <button type="submit"
            form="widgetForm"
            class="btn btn-xs button-transparent navbar-link navbar-text pull-right">
      <span class="glyphicon glyphicon-ok glyphiconblack"></span>
    </button>
  </div>
</nav>


<div class="container-fluid">
  <form (ngSubmit)="update()"
        id="widgetForm"
        #f ="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input ngModel="{{ widget.name }}"
             #name="ngModel"
             type="text"
             id="name"
             name="name"
             placeholder="Widget name"
             class="form-control"/>
    </div>
    <div class="form-group">
      <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
    </div>

    <a (click)="remove()"
       class="btn btn-danger btn-block">Delete</a>

    <a routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/widget"
       class="btn btn-warning btn-block">Cancel</a>

  </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/user/{{ uid }}">
      <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
  </div>
</nav>
