<nav class="navbar navbar-default">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <div class="navbar-text pull-left">
        <a routerLink="/user/{{ uid }}/website/{{ wid }}/page" class="glyphiconblack">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header navbar-brand">
          <b>Pages</b>
      </div>
      <div class="navbar-text pull-right">
        <a class="pull-right glyphiconblack">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="hidden-lg visible-xs">
        <div class="navbar-text pull-left">
          <a routerLink="/user/{{ uid }}/website/{{ wid }}/page" class="glyphiconblack">
            <span class="glyphicon glyphicon-chevron-left hidden-lg visible-xs"></span>
          </a>
        </div>
      </div>

      <div class="navbar-text pull-right">
        <a (click) = "createPage(name,description)" class="glyphiconblack">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header margin">
        <a class="navbar-brand">
          <b>New Page</b>
        </a>
      </div>
    </div>
  </div>
</nav>


<div class="col-xs-12 col-sm-8 pull-right">
  <div class="container-fluid">
    <form>
      <div class="form-group">
        <label for="page-name">Name</label>
        <input [(ngModel)] = "name"
               name = "name"
               placeholder="Page Name"
               type="text"
               id = "page-name"
               class="form-control"/>
      </div>
    </form>

    <div class="form-group">
      <form>
        <label for="pagetitle">Title</label>
        <input [(ngModel)] = "description"
               name = "description"
               type="text"
               class="form-control"
               id="pagetitle"
               placeholder="Page Title">
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid ">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{ uid }}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
