<nav class="navbar navbar-default">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <div routerLink="/user/{{ uid }}/website/{{ wid }}/page"
           class="navbar-text pull-left glyphiconblack">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>

      <div class="navbar-header hidden-xs navbar-brand glyphiconwhite">
        <b>Pages</b>
      </div>

      <div routerLink="/user/{{ uid }}/website/{{ wid }}/page/new"
           class="navbar-text pull-right hidden-xs glyphiconblack">
        <span class="glyphicon glyphicon-plus"></span>
      </div>
    </div>


    <div class="col-sm-8">
      <div class="hidden-lg visible-xs">
        <div routerLink="/user/{{ uid }}/website/{{ wid }}/page" class="navbar-text pull-left glyphiconblack">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
      </div>


      <a (click)="editPage()" class="navbar-text pull-right glyphiconblack">
        <span class="glyphicon glyphicon-ok"></span>
      </a>

      <p class="navbar-header navbar-brand pull-left margin">
        <b>Edit Page</b>
      </p>
    </div>
  </div>
</nav>


<div class="row container-fluid">
  <div class="col-sm-4 hidden-xs websites-col-sm-4">
    <div *ngFor = "let page of pages"
         class="container-fluid">
      <ul routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}" class="list-group">
        <li class="list-group-item borderless lightblue">{{ page.name }}
          <a class="pull-right" routerLink="/user/{{ uid }}/website/{{ wid }}/page">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="col-xs-12 col-sm-8 pull-right">
  <div class="container-fluid">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Page Name">
      </div>


    <form>
      <div class="form-group">
        <label for="pagetitle">Title</label>
        <input type="text" class="form-control" id="pagetitle" placeholder="Page Title">
      </div>
    </form>

    <form>
      <a (click)="remove()" class="btn btn-block btn-danger">Delete</a>
    </form>

    <form>
      <a routerLink="/user/{{ uid }}/website/{{ wid }}/page"
         class="btn btn-warning btn-block">Cancel</a>
    </form>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{ uid }}">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
