<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/website">
        <span class="glyphicon glyphicon-chevron-left glyphiconblack"></span>
      </a>
    </p>

    <p class="navbar-header navbar-brand pull-left">
        <b>Pages</b>
    </p>

    <p class="navbar-text pull-right glyphiconblack">
      <a routerLink="/user/website/{{ wid }}/page/new">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
  </div>
</nav>


<ul class="list-group">
  <div class="container-fluid">
    <ul class="list-group">
      <div class="container-fluid">
        <div *ngFor = "let page of pages">
          <li class="list-group-item borderless lightblue">
            <a routerLink="/user/website/{{ wid }}/page/{{ page._id }}/widget">
              {{ page.name }}
            </a>
            <a routerLink="/user/website/{{ wid }}/page/{{ page._id }}/">
                <span class = "glyphicon glyphicon-cog pull-right"></span>
            </a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</ul>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user glyphiconlightblue"></span>
      </a>
    </p>
  </div>
</nav>
