<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{ uid }}/website">
        <span class="glyphicon glyphicon-chevron-left glyphiconblack"></span>
      </a>
    </p>

    <p class="navbar-header navbar-brand pull-left">
        <b>Pages</b>
    </p>

    <p class="navbar-text pull-right glyphiconblack">
      <a routerLink="/user/{{ uid }}/website/{{ wid }}/page/new">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
  </div>
</nav>

<!--<div *ngFor = "let page of pages" class="container-fluid padding-top">-->
  <!--<ul class="list-group" routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}">-->
    <!--<li-->
        <!--class="list-group-item borderless lightblue">{{ page.name }}-->
      <!--<a class="pull-right">-->
        <!--<span class="glyphicon glyphicon-cog"-->
              <!--routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid}}"></span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

<ul class="list-group">
  <div class="container-fluid">
    <ul class="list-group">
      <div class="container-fluid">
        <div *ngFor = "let page of pages">
          <li class="list-group-item borderless lightblue">
            <a routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/page">
              {{ page.name }}
            </a>
            <a routerLink="/user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/edit">
                <span class = "glyphicon glyphicon-cog pull-right"></span>
            </a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</ul>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{ uid }}">
        <span class="glyphicon glyphicon-user glyphiconlightblue"></span>
      </a>
    </p>
  </div>
</nav>
