<!DOCTYPE html>
<html lang= "en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <meta charset="UTF-8">

  <title>Edit Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../css/custom_styles.css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <div class="navbar-text pull-left">
        <a href="page-list.html" class="glyphiconblack">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <div class="navbar-header">
        <a href="#" class="navbar-brand glyphiconblack" >
          <b>Pages</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <a href="#" class="pull-right glyphiconblack">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="navbar-text pull-left">
        <a href="page-list.html" class="glyphiconblack">
          <span class="glyphicon glyphicon-chevron-left hidden-lg visible-xs"></span>
        </a>
      </div>

      <div class="navbar-text pull-right">
        <a href="page-list.html" class="glyphiconblack">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
      <div class="navbar-header">
        <a href="#" class="navbar-brand glyphiconblack">
          <b>Edit Page</b>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-sm-4 hidden-xs websites-col-sm-4">
    <ul class="list-group">
      <li class="list-group-item borderless lightblue">Blog Post
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-item borderless lightblue">Blogs
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-item borderless lightblue">Home
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-item borderless lightblue">About
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <li class="list-group-item borderless lightblue">Contact Us
        <a class="pull-right" href="page-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-8 pull-right">
  <div class="container-fluid">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Page Name">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="pagetitle">Title</label>
        <input type="text" class="form-control" id="pagetitle" placeholder="Page Title">
      </div>
    </form>

    <form>
      <a href="page-list.html" class="btn btn-block btn-danger">Delete</a>
    </form>
  </div>

</div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid ">
        <p class="navbar-text pull-right">
          <a href="../user/profile.html">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>
      </div>
    </nav>
  </body>
</html>

