<!DOCTYPE html>
<html lang= "en">
  <head>
      <!-- Meta tags for making website for mobile-->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
      <meta charset="UTF-8">

      <title>Page List</title>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="../css/custom_styles.css" rel="stylesheet"/>
  </head>


 <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <p class="navbar-text pull-left">
          <a href="../website/website-list.html" class="glyphiconblack">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <p class="navbar-header pull-left">
          <a class="navbar-brand" href="../widget/widget-list.html">
            <b>Pages</b>
          </a>
        </p>

        <p class="navbar-text pull-right">
          <a href="page-new.html" class="glyphiconblack">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </nav>


  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item borderless lightblue">Blog Post
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
      </li>


      <li class="list-group-item borderless lightblue">Blogs
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
      </li>
      <li class="list-group-item borderless lightblue">Home
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
      </li>
      <li class="list-group-item borderless lightblue">About
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
      </li>
      <li class="list-group-item borderless lightblue">Contact Us
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
      </li>
    </ul>
  </div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <p class="navbar-text pull-right">
            <a href="../user/profile.html">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </p>
        </div>
    </nav>
  </body>
</html>
