<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/widget" class="glyphiconblack">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Widget Heading</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a routerLink="user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/widget" class="glyphiconblack">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="FirstName LastName">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="pagetitle">Text</label>
      <input type="text" class="form-control" id="pagetitle" placeholder="US Senate Reaches Compromising on Emergency">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="sizenumber">Size</label>
      <input type="number" class="form-control" id="sizenumber" placeholder="3">
    </div>
  </form>

  <form>
    <a class="btn btn-block btn-danger" routerLink="user/{{ uid }}/website/{{ wid }}/page/{{ pid }}/widget">Delete</a>
  </form>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a routerLink="/user/{{ uid }}">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
    </div>
  </nav>
</div>
