<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/website/{{ websiteId }}/page/{{ pageId }}/widget"
         class="glyphiconblack">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Widget Edit</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a (click)="updateWidget()" class="glyphiconblack">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
  </div>
</nav>

<div class="container-fluid">
  <div *ngIf=flag
       class="alert alert-danger">
    {{error}}
  </div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               placeholder="Name of Header~~~"
               [(ngModel)]="widget.name">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="text">Text</label>
        <input type="text"
               class="form-control"
               id="text"
               name="text"
               placeholder="The main text of the heading"
               [(ngModel)]="widget.text">
      </div>
    </form>

  <form>
    <div class="form-group">
      <label for="size">Size</label>
      <input type="text"
             class="form-control"
             id="size"
             name="size"
             placeholder="3"
             [(ngModel)]="widget.size">
    </div>
  </form>

    <form>
      <a class="btn btn-block btn-danger" (click)="deleteWidget()">Delete</a>
    </form>

    <form>
      <a class="btn btn-block btn-warning"
         routerLink="user/website/{{ wid }}/page/{{ pid }}/widget">Cancel</a>
    </form>
</div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a routerLink="/profile">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
    </div>
  </nav>


