<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/website/{{ websiteId }}/page/{{ pageId }}/widget" class="glyphiconblack">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Choose Widget</b>
      </a>
    </p>
  </div>
</nav>


<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item borderless">
      <a (click)="createWidget('Header')">
        <button class="btn button-transparent">Header</button>
      </a>
    </li>
    <li class="list-group-item borderless">
      <a (click)="createWidget('YouTube')">
        <button class="btn button-transparent">Youtube</button>
      </a>
    </li>
    <li class="list-group-item borderless">
      <a (click)="createWidget('Image')">
        <button class="btn button-transparent">Image</button>
      </a>
    </li>

    <li class="list-group-item borderless">
      <a (click)="createWidget('HTML')">
        <button class="btn button-transparent">HTML</button>
      </a>
    </li>
    <li class="list-group-item borderless">
      <a (click)="createWidget('Text')">
        <button class="btn button-transparent">Text Input</button>
      </a>
    </li>




  </ul>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
