
<nav class="navbar navbar-lightblue">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <div routerLink="/user/{{ uid }}/website" class="navbar-text pull-left glyphiconwhite">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </div>


      <div class="navbar-header hidden-xs navbar-brand glyphiconwhite">
          <b>Websites</b>
      </div>

      <div routerLink="/user/{{ uid }}/website/new" class="navbar-text pull-right hidden-xs glyphiconwhite">
          <span class="glyphicon glyphicon-plus"></span>
      </div>
    </div>


    <div class="col-sm-8">
      <div class="hidden-lg visible-xs">
        <div class="navbar-text pull-left">
          <a routerLink="/user/{{ uid }}" class="glyphiconwhite">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
      </div>

      <div routerLink="/user/{{ uid }}/website" class="navbar-text pull-right glyphiconwhite">
          <span class="glyphicon glyphicon-ok"></span>
      </div>
      <!--<p class="navbar-text pull-right">-->
        <!--<a (click)= "createWebsite(name, description)"-->
           <!--class="navbar-text pull-right glyphiconwhite"-->
           <!--type="submit">-->
          <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--</a>-->
      <!--</p>-->

      <div class="navbar-header pull-left navbar-brand glyphiconwhite margin">
          <b>New Website</b>
      </div>
    </div>
  </div>
</nav>


<div class="row container-fluid">
  <div class="col-sm-4 hidden-xs websites-col-sm-4">
    <ul class="list-group">
      <div class="container-fluid">
        <div *ngFor = "let website of websites">
            <li class="list-group-item borderless lightblue">
              <a routerLink="/user/{{ uid }}/website/{{ wid }}/page">
                {{ website.name }}
              </a>
              <a routerLink="/user/{{ uid }}/website/{{ wid }}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
              </a>
            </li>
        </div>
      </div>
    </ul>
  </div>

<div class="col-xs-12 col-sm-8 pull-right">
  <!--<div class="container">-->
  <form (ngSubmit) = "createWebsite(name,description)" #f="ngForm">
    <form>
      <div class="form-group">
        <label for="website-name">Name</label>
        <input [(ngModel)] = "name"
               name = "name"
               placeholder="Name"
               type="text"
               id = "website-name"
               class="form-control"/>
      </div>
    </form>

      <div class="form-group">
        <label for="website-description">Description</label>
          <textarea [(ngModel)] = "description"
                    name = "description"
                    class = "form-control"
                    placeholder="Description"
                    id = "website-description"
                    rows="5">
          </textarea>
      </div>
    </form>
  </div>

<nav class="navbar navbar-lightblue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/user/{{ uid }}" class="glyphiconwhite">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
