<div class="container-fluid">
  <!--<div *ngIf='errorFlag'-->
       <!--class="alert alert-danger">-->
    <!--{{errorMsg}}-->
  <!--</div>-->

  <h1>Register</h1>
  <br/>
  <!--<label>Username</label><br/>-->
  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"
         type="text"
         required/>
  <br/>
  <!--<label>Password</label><br/>-->
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"
         type="password"
         required/>
  <br/>
  <!--<label>Verify Password</label><br/>-->
  <input placeholder="verify password"
         class="form-control"
         type="password"/>
  <br/>
  <button class="btn btn-primary btn-block form-control">Register</button>
  <br/>
  <button class="btn btn-danger btn-block form-control" routerLink="/login">Cancel</button>

</div>

